:root {
    --main-color: #e74c3c;
    --margin-side: 360px
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


img {
    object-fit: cover;
}


header {
    display: flex;
    height: 40px;
    width: 100%;
    background-color: #1f1f1f;

    align-items: center;
    justify-content: right;
}

input#header-search {
    height: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-right: 30px;
}






div#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 172px;
    width: 100%;
}

h1#logo-text {
    margin: 0;
    padding: 0;
    font-size: 85px;
    color: black;
}

a#logo-link {
    text-decoration: none;
}





nav {
    display: flex;
    border-top: solid 1px rgb(206, 206, 206);
    border-bottom: solid 1px rgb(206, 206, 206);
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav-names {
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 20px;
}










div#section-1 {
    width: 100%;

    margin-top: 40px;

    display: grid;
    grid-template-columns: var(--margin-side) 1fr var(--margin-side);
    grid-template-rows: 580px;

    grid-template-areas:
        ". img .";
}

div#image {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 100%;
    min-width: 100%;
    background-image: url(../img/fashion3.jpg);

    color: white;

}

.image-button {
    height: 30px;
    width: 150px;
    background-color: var(--main-color);
    border: 0;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 800;
    margin-top: 10px;
}

h2#image-heading {
    font-size: 80px;
}




div#section-2 {
    width: 100%;
    height: 315px;

    margin-top: 40px;

    display: grid;
    grid-template-columns: var(--margin-side) 1fr 30px 1fr 30px 1fr var(--margin-side);
    grid-template-rows: 1fr;

    grid-template-areas:
        ". left . middle . right .";
}


div#scroll-list-item-left {
    background-image: url(../img/fashion1.png);
}

div#scroll-list-item-middle {
    background-image: url(../img/tatoo.png);
}

div#scroll-list-item-right {
    background-image: url(../img/fashion4.png);
}

a#first-item {
    grid-area: left;
}

a#second-item {
    grid-area: middle;
}

a#third-item {
    grid-area: right;
}

.scroll-list-item {
    min-height: 100%;
    max-height: 100%;

    min-width: 100%;
    max-width: 100%;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-list-item-header-background {
    background-color: black;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.scroll-list-item-subheader {
    font-size: 20px;
    background-color: #3a3a3aad;
}






div#section-3 {
    width: 100%;
    height: 740px;

    margin-top: 40px;

    display: grid;
    grid-template-columns: var(--margin-side) 1fr 30px 335px var(--margin-side);
    grid-template-rows: 410px 330px;
    grid-template-areas:
        ". img . as ."
        ". desc . as .";
}

img#section-3-image {
    grid-area: img;
    height: 100%;
    width: 100%;
}

aside#content {
    grid-area: as;
    display: flex;
    flex-direction: column;
}

div#banner-1 {
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;

    align-items: center;
    justify-content: center;
}

div#banner-2 {
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;

    align-items: center;
    justify-content: center;
}

div#posts {
    display: flex;
    height: 330px;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}


div#description {
    display: flex;
    grid-area: desc;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 1px rgb(206, 206, 206);

    flex-direction: column;
    align-items: center;
}

div#about-us {
    display: flex;
    flex-direction: column;
    align-items: center;

}

img#profile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

p#profile-description {
    color: gray;
    text-align: center;
}

.post {
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    flex-direction: row;
}

.post-img {
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.post-p {
    margin-left: 20px;
}

h3#categories {
    font-size: 14px;
    border-bottom: var(--main-color) 2px solid;
    margin-top: 30px;
}

h2#description-name {
    font-weight: 100;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 10px;
    text-decoration: none;
}

p#description {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

div#learn-more-button {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 135px;
    border: solid 1px black;
}








footer {
    background-color: #1f1f1f;
    width: 100%;
    height: 100px;
    margin-top: 10px;
}